aio-pika~=8.0.0
fastapi~=0.70.0
python-multipart~=0.0.5
uvicorn~=0.17.6
cryptography==37.0.2
aiofiles~=0.8.0
sqlalchemy~=1.4.26
databases~=0.5.3
aiomysql~=0.1.1
PyMySQL~=1.0.2
alembic~=1.7.5
pydantic~=1.9.1