aio-pika~=6.8.0
fastapi~=0.70.0
python-multipart~=0.0.5
uvicorn~=0.15.0
aiofiles~=0.7.0
sqlalchemy~=1.4.26
databases~=0.5.3
aiomysql~=0.0.22
PyMySQL~=0.9.3
alembic~=1.7.5
cryptography~=36.0.0
starlette~=0.16.0
pydantic~=1.8.2